body{
    font-family: "Roboto", sans-serif;
    margin: 10 auto;
    background-color: rgb(251, 251, 251);
    display:flex;
    flex-direction: column;
}
#present{
    background-color: rgb(255, 255, 255);
    padding: 3%;
    background-position: 100%;
    margin: -1%;
    border: 1px solid grey;
}

#info{
    display: none;
    padding: 3%;
    min-width: 1200px;
    background-color: rgb(255, 255, 255);
    border: 1px solid grey;
    border-radius: 30px;
    align-self: center;
    align-items: center;
}

h1{
    font-weight: 500;
}

#title{
    font-size: 50px;
    font-weight: 200;
}

#subtitle{
    font-style: normal;
    font-weight: 300;
}

h2{
    font-style: italic;
    font-size: 25px;
    font-weight: 400;
}

h3{
    font-size: 20px;
    font-weight: 300;
    white-space: pre-line;
}

#present{
    text-align: center;
}

input{
    text-align: center;
    font-size: 20px;
    padding: 20px 10px;
    border: 2px solid rgb(0, 102, 255);
    border-radius: 10px;
}

button{
    text-align: center;
    font-size: 20px;
    padding: 20px 10px;
    border: 2px solid rgb(0, 102, 255);
    border-radius: 10px;
    background-color: rgb(0, 102, 255);
    color: white;
    transition: 0.1s;
}

button:hover{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 102, 255);
}

@media (max-width: 450px) {
    body{
        text-align: center;
        font-size: 15px;
    }

    #info{
        min-width: auto;
    }
}