html, body {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: rgb(230, 239, 245);
    display:flex;
    flex-direction: column;
}

#present{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(46, 46, 46);
    padding: 3%;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 24px;
    background-position: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#info{
    display: none;
    padding: 3%;
    min-width: 1200px;
    max-width: 1200px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    align-self: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.1s;
}

h1{
    font-weight: 500;
}

#title{
    font-size: 50px;
    font-weight: 200;
}

#subtitle{
    font-style: normal;
    font-weight: 300;
}

h2{
    font-style: italic;
    font-size: 25px;
    font-weight: 400;
}

h3{
    font-size: 20px;
    font-weight: 300;
    white-space: pre-line;
}

#present{
    text-align: center;
}

input{
    text-align: center;
    font-size: 20px;
    padding: 20px 10px;
    border: 2px solid rgb(255, 196, 0);
    border-radius: 10px;
    background-color: rgb(230, 239, 245);
}

button{
    text-align: center;
    font-size: 20px;
    padding: 20px 10px;
    border: 2px solid rgb(255, 196, 0);
    border-radius: 10px;
    background-color: rgb(255, 196, 0);
    color: rgb(102, 70, 0);
    transition: 0.1s;
    margin-left: 5px;
}

button:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 0 rgb(211, 137, 0);
}

button:active {
    transform: translateY(4px);
    box-shadow: 0 2px 0 rgb(211, 137, 0);
}

@media (max-width: 450px) {
    body{
        text-align: center;
        font-size: 15px;
    }

    #info{
        min-width: auto;
    }
}